.all {
  padding: 2rem;
  width: 100%;
  background-color: #212121;
  height: 100%;
  overflow-y: auto;
  border-radius: 1rem;
  border: 2px solid rgba(249, 249, 249, 0.08);
}
.all:-webkit-scrollbar {
  width: 0.5rem;
}

.title {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 800;
  position: relative;
}
.title::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 0;
  width: 3rem;
  height: 0.2rem;
  border-radius: 0.5rem;
  background-color: #6fcf97;
}
.tasks {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin: 2rem 0;
}
.task {
  padding: 1.2rem 1rem;
  border-radius: 1rem;
  background-color: rgba(249, 249, 249, 0.08);
  box-shadow: 1px 7px 12px rgba(8, 18, 69, 0.1);
  border: 2px solid white;
  height: 16rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.taskDate {
  margin-top: auto;
}
.taskTitle {
  font-size: 1.5rem;
  font-weight: 600;
}
.taskFooter {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}
.taskbutton {
}
.taskFooterEdit {
  display: flex;
  gap: 15px;
  margin-left: auto;
  font-size: 25px;
}
.taskCompleted,
.taskNotCompleted {
  display: inline-block;
  padding: 0.4rem 1rem;
  background-color: #fe6854;
  border-radius: 30px;
}
.taskCompleted {
  background-color: green;
}
.addNewTask {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  height: 16rem;
  width: 16rem;
  color: #b2becd;
  font-weight: 600;
  border-radius: 1rem;
  border: 3px dashed #2a2e35;
  cursor: pointer;
}
.addNewTask:hover {
  background-color: #2a2e35;
  color: #f8f8f8;
}
/*@media screen and (max-width: 622px) {
  .all {
    margin: 10px;
    margin-right: ;
    width: 100vw;
    position: absolute;
    z-index: -1;
    top: 0;
  }
} */
